body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.outer-box{
   border: none;
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 1);
   background-color: rgb(253, 253, 253);
   width: 310px;
   height: 480px;
   padding-top: 16px;
   padding-left: 16px;
   padding-right: 16px;
   padding-bottom: 24px;

}

.inner-box img{
    width: 100%;
    border-radius: 10px;
}

.inner-box h1{
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

.inner-box p{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}